#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
  
#graph-container {
    width: 48%;
    height: 80%;
}

#stats-container {
    border: 1px solid #ccc; /* Agregar un borde para visualizar mejor */
    padding: 20px;  /* Espacio interno */
    box-shadow: 0 0 15px rgba(0,0,0,0.1);  /* Sombra suave (opcional) */
    margin-left: 0; 
}